:root {
  --primary-purple: #7d69f6;
  --primary-blue: #3b82f6;
}

html.light {
  --background-color: linear-gradient(135deg, #ffffff 0%, #f2f3f3 100%);
}

html.dark {
  --background-color: linear-gradient(135deg, #1e232c 0%, #14161c 100%);
}

body {
  background-color: var(--background-color);
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--primary-purple);
  text-decoration-color: var(--primary-purple);
}

.card {
  width: 100%;
  color: var(--primary-purple);
  width: fit-content;
  background: none;
  border-radius: 10px;
  padding: 10px;
}

.fill-blue-500 {
  fill: var(--primary-purple);
}

.card:hover {
  opacity: 0.8;
}

.data-\[state\=active\]\:border-primary[data-state="active"] {
  border-color: var(--primary-purple);
}

.bg-primary\/10 {
  background-color: rgba(125, 105, 246, 0.1);
}

.text-primary {
  color: var(--primary-purple);
}

.data-\[active\=true\]\:text-primary[data-active="true"] {
  color: var(--primary-purple);
}

.border-primary {
  border-color: var(--primary-purple);
}

.homePage {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    359deg,
    #0f0f0f 2.36%,
    rgba(10, 16, 51, 0) 99.37%
  );
}
